*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    background-color: rgb(47, 27, 27);
    display: flex;
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    flex: 1;
    overflow-y: scroll;
    padding: 2rem 3rem;
}

.card{
    height: 21rem;
    width: 15rem;
    background-color: white;
    border-radius: 15px;
    border: 5px black solid;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 600;
    font-size: 120%;
}

.card .title_card{
    background-color: rgb(163, 233, 23);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 150%;
}

.card .container{
    padding: 0.5rem;
    border-top: 1px solid black;
}

.card .container-description {
    height: 6rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card .container-description .description_card{
    font-weight: 400;
    font-size: 1rem;
}

.card .container-difficulty .priority_card{
    text-align: center;
}

.card .dueDate_card{
    text-align: center;
}

.nav-bar{
    width: 20%;
    background-color: white;
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.title-section{
    height: 30px;
    background-color: blueviolet;
    position: relative;
}