

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    outline: none;
}

html, body {
    height: 100%;
}

body{
    background-color: #1a4ea7;
    background-image: linear-gradient(315deg, #29539b 0%, #1a4ea7 74%);
    display: flex;
    flex-direction: column;
}

/*Header section*/
header {
    position: relative;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F4E8;
    padding: 0.6rem 8%;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0,0.3);
}


header .logo { /*Aplica para la letra*/
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}

header #menu-bar {
    font-size: 2rem;
    cursor: pointer;
    color: black;
    border: 0.3rem solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    display: flex;
}

/*Body*/
.body{
    display: flex;
    height: 100%;
}

.card-section .title-list-section{
    background-color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
}

.card-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: scroll;
}

.card-section .todo-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.card-section .todo-body .tasks{
    display: flex;
    width: 100%;
}

.card-section .todo-body .task{
    border-bottom: 2px solid silver;
    display: flex;
    width: 100%;
}
/*---------------------------------*/

.card{
    height: 23rem;
    width: 17rem;
    background-color: white;
    border-radius: 15px;
    border: 5px black solid;
    text-align: left;
    display: none;
    flex-direction: column;
    overflow: hidden;
    font-weight: 600;
    font-size: 120%;
    position: relative;
}

.card .close-card {
    position: absolute;
    top: 8px;
    right: 8px;
    transform: rotate(45deg);
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.card .title_card{
    background-color: rgb(163, 233, 23);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 150%;
}

.card .container{
    padding: 0.5rem;
    border-top: 1px solid black;
}

.card .container-description {
    height: 6rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card .container-description .description_card{
    font-weight: 400;
    font-size: 1rem;
}

.card .container-difficulty .priority_card{
    text-align: center;
}

.card .dueDate_card{
    text-align: center;
}

.card .container-check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card .container-check input[type='checkbox']{
    display: none;
}
.card .container-check input[type='checkbox'] + label {
    cursor: pointer;
    vertical-align: middle;
}

.card .container-check label::before {
    content: '';
    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    text-shadow: 2px -0px 1px gray;
}

.card .container-check input[type='checkbox']:checked + label::before {
    content: '✓';
    font-size: 25px;
    color: green;
    border-color: green;
}

/* ----------------------------------------------Nav bar */
.nav-bar{
    width: 20%;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    height: 100%;
    padding: 2rem 3rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-section{
    height: 30px;
    background-color: blueviolet;
    position: relative;
}

.nav-bar .task-list{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    line-height: 2rem;
    list-style: circle;
    font-weight: 0;
}

.nav-bar .task-list .active-list{
    font-weight: bolder;
}